.site-header {
  position: relative;
  padding: 0;
  background-image: url('assets/images/header/tat1-600.jpg');
  background-size: cover;
  background-position: center bottom;
  height: 150px;

  @media screen and (min-width: 600px) {
    background-image: url('assets/images/header/tat1-1000.jpg');
    height: 300px;
  }

  @media screen and (min-width: 1000px) {
    background-image: url('assets/images/header/tat1-full.jpg');
    height: 400px;
  }

  @media screen and (min-width: 1500px) {
    height: 500px;
  }

  display: flex;
}

.site-header .col-full {
  flex-grow: 1;
  margin-top: auto;
}

.site-branding {
  font-size: 1em;
  margin: 0 0 .25em;

  @media screen and (min-width: $bp-m) {
    font-size: 2em;

    .site-title {
      line-height: 1;
    }
  }

  .site-title a,
  .site-description {
    color: white;
  }
}

.woocommerce-active .site-header .site-branding {
  float: none;
  width: 100%;

}

// restrict width of header cart below 1000px so that nav items still work:
.site-header-cart {
  top: -75px;
  margin-left: auto;
  width: 100px;

  &:hover,
  &:focus {
    background-color: #F2F2F2
  } 

  @media screen and (min-width: 1000px) {
    width: 300px;
  }
}

.site-header-cart:hover .widget_shopping_cart {
  left: -200px;
  width: 300px;

  @media screen and (min-width: 1000px) {
    left: 0;
  }
}

// remove price total from cart contents and align count next to icon:
.site-header-cart .cart-contents {
  display: flex;
  justify-content: flex-end;

  .amount {
    display:none;
  }

  .count {
    display: none;

    @media screen and (min-width: $bp_menu) {
      display: block; 
      padding-right: 5px;
      line-height: 1.2;
      color: $color__action;
    }
  }

  &:after {
    color: $color__body;
  }
}

// header mini cart dropdown styling:
.site-header-cart .widget_shopping_cart a.button,
.widget a.button.checkout {
  background-color: $color__button-background;

  &:hover,
  &:focus {
    background-color: $color__action;
  }
}

.widget_shopping_cart_content {
  padding: 0 1em;
}

.widget_shopping_cart .product_list_widget li {
  padding-left: 0;

  .quantity {
    padding-left: 1.5em;
  }
}